{
  "extends": ["standard", "prettier", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "max-len": ["error", 150, 2],
    "camelcase": [
      "error",
      {
        "ignoreImports": true
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-plusplus": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "arrow-body-style": "off",
    "no-loop-func": "off",
    "no-unused-expressions": "off",
    "require-await": "error",
    "no-return-await": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "globals": {
    "assert": true,
    "expect": true,
    "artifacts": true,
    "contract": true,
    "web3": true
  }
}
