.DS_Store
.vscode/
*/**/.DS_Store

/node_modules

dist
cache
artifacts
typechain-types
out

deployments/mainnet/solcInputs/*
deployments/arbitrum-one/solcInputs/*
deployments/optimism/solcInputs/*
deployments/sepolia/solcInputs/*
deployments/optimism-goerli/solcInputs/*
deployments/base-goerli/solcInputs/*
deployments/arbitrum-goerli/solcInputs/*
deployments/hardhat/*

.coverage_artifacts
.coverage_contracts
/coverage
/coverage.json
allFiredEvents
scTopics

.env*
!.env.template
