.DS_Store
.vscode/
*/**/.DS_Store

/node_modules
yarn-debug.log*
yarn-error.log*

cache
artifacts
data
typechain
typechain-types

.coverage_artifacts
.coverage_contracts
coverage
coverageEnv
coverage.json
allFiredEvents
scTopics

.env*
!.env.template
