{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-package-json", "prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    }
  ],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSpacing": true,
  "importOrderTypeScriptVersion": "5.0.0"
}
